body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    color: black;
    font-size: 1.5em;
}