<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>WebG</title>
</head>
<body>
    <h1 id="h">Annabi Muhammadu S A W</h1>
    <h5>Shehu Barhama Inyass</h5>
    <script src="/script.js"></script>
</body>
</html>